body {
    align-items: center;
    text-align: center;
}

.boardButton {
    height: 140px;
    width: 140px;
    margin: 20px;
    font-size: 100px;
}

#gameName{
    font-size: 300%;
    padding-top: 100px;
}

#message{
    font-size: 100%;
    text-align: center;
}